
 <img id="header" src="../public/img/top.jpg" alt="Top" width="1510" height="800"> <br></br><br></br>

 <div class="w3-container">
        <a target="_blank" href="../public/img/first.jpg">
 <img src="../public/img/first.jpg" alt="First" width="400" height="500" class="w3-border w3-padding">
 </a>
 <h1>€35</h1>
 <img src="../public/img/sweet.jpg" alt="sweet" width="400" height="50">
 <img src="../public/img/stars.jpg" alt="stars" width="150" height="50">

 <img id="third" src="../public/img/third.jpg" alt="third">
</div>
 
