<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Blackbirds</title>
    <link href="../public/css/core.css" rel="stylesheet" />
    <link href="../public/css/home.css" rel="stylesheet" />
    <link href="../public/css/payment.css" rel="stylesheet" />
    <link href="../public/css/checkout.css" rel="stylesheet" />
    <script src="../shared/angular.min.js"></script>
    <script src="../shared/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
</head>

<body ng-app="blackbird" class="blackbird-app-container">
    <div ng-controller="blackbirdsController as homeCtrl">
		<div>
            <ui-view />
    	</div>
    </div>
</body>
</html>