<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Blackbirds</title>
    <link href="public/css/core.css" rel="stylesheet" />
    <link href="public/css/home.css" rel="stylesheet" />
    <link href="public/css/payment.css" rel="stylesheet" />
    <link href="public/css/checkout.css" rel="stylesheet" />
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="blackbird" class="blackbird-app-container">
    <div ng-controller="blackbirdsController as homeCtrl">
        <div class="">
        </div>
            <ui-view />
    	</div>
</body>
</html>